<div class="featured">
  <div class="heading">
    <span>FEATURED</span> The Science Behind
    {{global.productName}}
  </div>
  <div class="featured_block">
    <div class="featured_block_left">
      <p>Seventy five percent of our skin is comprised of water and collagen. Our skin is exposed to harsh UVA and UVB radiation
        resulting in age spots, fine lines, and wrinkles. As we age, our bodies produce less and less collagen, leading to
        the formation of wrinkles and fine lines. Most anti-aging products use fragments of hydrolyzed collagen containing
        molecules too large for the skin with conventional formulas.
        {{global.productName}}'s breakthrough formula delivers whole collagen molecules to the skin. The peptide-rich wrinkle serum is applied
        to the skin, rebuilding and rejuvenating the skin.</p>
      <br>
      <img src="/assets/img/graph.png" alt="" width="431" height="290">
      <img src="/assets/img/{{global.logo}}" id="graphLogo01">
      <img src="/assets/img/{{global.logo}}" id="graphLogo02">
    </div>
    <div class="featured_block_right">
      <img src="/assets/img/doc_img.jpg" alt="" width="388" height="340">
      <img src="/assets/img/before_after.png" alt="" width="411" height="227">
    </div>
    <div class="clear"></div>
  </div>
</div>