<div class="layer-6">
  <div class="container">
    <div class="layer-6-body">
      <div class="layer-6-body-left"><span id="hashtag">#{{global.productName}}<br>IT'S UNANIMOUS!</span>
        <div id="heartLogo"><img src="/assets/img/{{global.logo}}" id="logoHeart"></div>
      </div>
      <div class="layer-6-body-right">
        <div class="heading">
          <span>SPOTLIGHT</span> What’s all the buzz about?
        </div>
        <div class="layer-6-txt1">
          <p>The New Injection-Free Solution</p>
        </div>
        <div class="layer-6-txt2">
          <p>Ever wonder how celebrities keep their skin looking so flawless and wrinkle-free? For porcelain looking skin, celebrities
            look for anti-aging creams which give them the appearance of smooth, supple, wrinkle-free skin. </p>
        </div>
        <div class="layer-6-txt3">
          <p>
            {{global.productName}} is your secret to radiant, beautiful skin that looks years younger. Don’t endure the physical pain and expense
            of costly procedures and surgeries.
            {{global.productName}} works naturally to help replenish your skin’s moisture, firming its appearance and restoring your natural glow
            to reveal a younger-looking you.</p>
        </div>
        <div class="layer-6-txt4">
          <img src="/assets/img/layer-6-right.jpg" alt="" width="366" height="162">
        </div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
<div class="layer-7">
  <div class="container">
    <app-rush-btn></app-rush-btn>
  </div>
</div>