<link rel="stylesheet" href="/assets/css/app.css" />
<link rel="stylesheet" href="/assets/css/up-custom.css" />
<link href="/assets/css/style2.css" rel="stylesheet" type="text/css" />
<link href="/assets/css/upsell.css" rel="stylesheet" type="text/css" />

<link  type='text/css' href='/assets/css/kprofile.css' rel='stylesheet' />
<link  type='text/css' href='/assets/css/kform.css' rel='stylesheet' />
<link  type='text/css' href='/assets/css/kcart.css' rel='stylesheet' />

<div class="thankyou_body">
<div class="container_thankyou">
  <div class="thankyou_cont">
    <header class="thankyou_header"> <img class="thankyou_header_left" src="/assets/img/{{global.logo}}" width="200" height="auto" alt="" title="" />      <img class="thankyou_header_right" src="/assets/img/header_ship.png" width="415" height="51" alt="" title="" />
      <div class="clear"></div>
    </header>

    <div id="thank-you">
      <form id="kform">
        <input type="hidden" name="productId" value="{{upsell.productId}}" noSaveFormValue readonly>
        <div id="upsell">
          <div class="tc">
            <div id="wait">
              <p class=" bl f18">WAIT! YOUR ORDER IS NOT COMPLETE</p>
              <p class="f14 grey-2">
                <!--Customers that purchased Regenere-->Customers that purchased
                {{global.productName}} also purchased
                {{global.upsell1Name}}
              </p>
              <!--<p class="f14 grey-2">Regenere Syn-Ake and NueVitality Anti-Aging</p>-->
            </div>
            <div id="upsell-btn" onclick="submitUpsell()" style="cursor:pointer;">
            </div>
          </div>
          <div>
            <input type="button" class="but3" id="kformSubmit">
            <div>
              <img id="cards" alt="" src="/assets/img/up-cards.jpg">
            </div>
          </div>
          <input type="hidden" id="kformSubmit">

          <div>
            <div>
              <div style="margin-top: 200px;" id="decline">
                <a class="" style="color:#000;" href="/"><img alt="" src="/assets/img/x.jpg" width="15" height="15"> No, Thanks. I decline the offer</a>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>
<app-footer-alt></app-footer-alt>
</div>