<footer class="chk_footer">
    <div class="container no-width">
      <ul>
        <li> <a href="javascript:void(0);" onClick="javascript:openNewWindow('/assets/html/terms.html', 'modal');">TERMS</a></li>
        <li> <a href="javascript:void(0);" onClick="javascript:openNewWindow('/assets/html/privacy.html', 'modal');">PRIVACY POLICY</a></li>
        <li> <a href="javascript:void(0);" onClick="javascript:openNewWindow('/assets/html/contact.html', 'modal');">CONTACT US</a></li>
      </ul>
      <p>
        {{date | date:'yyyy'}} &copy; {{global.productName}}
      </p>
    </div>
  </footer>