<div class="top_left">
  <div class="top_left_inner">
    <div class="top_left44"><img class="adjuster" width="300" height="298" src="/assets/img/{{global.product1}}" alt=""></div>
    <div class="top_left1">
      <span>Internet Exclusive Offer<br>Available to US Residents Only</span> <img src="/assets/img/logo_uk.png" alt="" width="37"
        height="28">
    </div>
    <div class="top_left2"><img src="/assets/img/{{global.logo}}" alt="" width="169" height="66"></div>
    <div class="top_left3"><img src="/assets/img/visibly_txt.png" alt="" width="230" height="152"></div>
    <div class="top_left4">
      <ul>
        <li>
          <span>Brighten Skin's Appearance</span>
          <p><img src="/assets/img/star.png" alt="" width="17" height="15"> <img src="/assets/img/star.png" alt="" width="17"
              height="15"> <img src="/assets/img/star.png" alt="" width="17" height="15"></p>
        </li>
        <li>
          <span>Restore Your Radiant, Firmer Skin</span>
          <p><img src="/assets/img/star.png" alt="" width="17" height="15"> <img src="/assets/img/star.png" alt="" width="17"
              height="15"> <img src="/assets/img/star.png" alt="" width="17" height="15"> <img src="/assets/img/star.png" alt=""
              width="17" height="15"></p>
        </li>
        <li>
          <span>Smooth Look of Stubborn Fine Lines</span>
          <p><img src="/assets/img/star.png" alt="" width="17" height="15"> <img src="/assets/img/star.png" alt="" width="17"
              height="15"> <img src="/assets/img/star.png" alt="" width="17" height="15"> <img src="/assets/img/star.png" alt=""
              width="17" height="15"> <img src="/assets/img/star.png" alt="" width="17" height="15"></p>
        </li>
      </ul>
    </div>
    <div class="top_left5">HURRY! Claim your Trial Today</div>
    <div class="top_left6">
      Limit 1 Trial per Customer
      <br>Don't get left behind!
    </div>
    <div class="top_left7"></div>
  </div>
</div>