<div class="top_right">
  <div class="form">
    <div class="top_form timer">
      <div id="timerWrap"><span>2</span><span>5</span><span>0</span></div>
    </div>
    <div class="form_bl">
      <div class="form_header">
        Tell Us Where to send
        <span>Your Trial bottle</span>
      </div>
      <form id='kform' class='kform' #trialForm="ngForm" novalidate (ngSubmit)="trialForm.form.valid && postForm()">
        <div class="active text">
          <label>First Name:</label>
          <input type="text" placeholder="eg., John" name="firstName" required [(ngModel)]="customer.firstName" #fn="ngModel"
          [ngClass]="fn.invalid && (fn.dirty || trialForm.submitted) ? 'error-outline' : ''">
          <div class="form-error" *ngIf="fn.invalid && (fn.dirty || trialForm.submitted)">
            <div class="error-pop">First Name is required</div>
          </div>
        </div>
        <div class="text">
          <label>Last Name:</label>
          <input type="text" placeholder="eg., Doe" name="lastName" required  [(ngModel)]="customer.lastName" #ln="ngModel"
          [ngClass]="ln.invalid && (ln.dirty || trialForm.submitted) ? 'error-outline' : ''">
          <div class="form-error" *ngIf="ln.invalid && (ln.dirty || trialForm.submitted)">
            <div class="error-pop">Last Name is required</div>
          </div>
        </div>

        <div class="text">
          <label>Address:</label>
          <input type="text" name="shipAddress1" placeholder="Your Address" required  [(ngModel)]="customer.shipAddress1" #sAdd="ngModel"
          [ngClass]="sAdd.invalid && (sAdd.dirty || trialForm.submitted) ? 'error-outline' : ''">
          <div class="form-error" *ngIf="sAdd.invalid && (sAdd.dirty || trialForm.submitted)">
            <div class="error-pop">Address is required</div>
          </div>
        </div>
        <div class="text">
          <label>Zip code:</label>
          <input type="text" class="zip-change" name="shipPostalCode" placeholder="Zip Code" pattern="[0-9]{5}" maxlength="5" required
            [(ngModel)]="customer.shipPostalCode" #sZip="ngModel" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" [ngClass]="sZip.invalid && (sZip.dirty || trialForm.submitted) ? 'error-outline' : ''">
          <div class="form-error" *ngIf="sZip.invalid && (sZip.dirty || trialForm.submitted)">
            <div class="error-pop">
              <span *ngIf="sZip.errors.required">Zip Code is required</span>
              <span *ngIf="sZip.errors.pattern || sZip.errors.maxlength">Zip Code is invalid</span>
            </div>
          </div>
        </div>
        <div class="text">
          <label>City:</label>
          <input type="text" name="shipCity" id="fields_city" placeholder="Your City" required [(ngModel)]="customer.shipCity" #sCity="ngModel"
          [ngClass]="sCity.invalid && (sCity.dirty || trialForm.submitted) ? 'error-outline' : ''">
          <div class="form-error" *ngIf="sCity.invalid && (sCity.dirty || trialForm.submitted)">
            <div class="error-pop">City is required</div>
          </div>
        </div>
        <input type='hidden' name='shipCountry' value='US' [(ngModel)]="customer.shipCountry">

        <div class="text">
          <label>State:</label>
          <select required name='shipState' id="fields_state" [(ngModel)]="customer.shipState" #sState="ngModel"
          [ngClass]="sState.invalid && (sState.dirty || trialForm.submitted) ? 'error-outline' : ''">
            <option [value]="" [selected]>Select State</option>
            <option *ngFor="let abbr of statesAbbr" [value]="abbr">{{states[abbr]}}</option>
          </select>
          <div class="form-error" *ngIf="sState.invalid && (sState.dirty || trialForm.submitted)">
            <div class="error-pop">State is required</div>
          </div>
        </div>

        <div class="text">
          <label>Phone:</label>
          <input type="text" name="phoneNumber" placeholder="(___)___-____" required [(ngModel)]="customer.phoneNumber" #pNum="ngModel" pattern="[0-9]{10}" maxlength="10"
            oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
            [ngClass]="pNum.invalid && (pNum.dirty || trialForm.submitted) ? 'error-outline' : ''">
          <div class="form-error" *ngIf="pNum.invalid && (pNum.dirty || trialForm.submitted)">
            <div class="error-pop">
              <span *ngIf="pNum.errors.required">Phone Number is required</span>
              <span *ngIf="pNum.errors.pattern || pNum.errors.maxlength">Phone Number is invalid</span>
            </div>
          </div>
        </div>
        <div class="text">
          <label>Email:</label>
          <input type="email" placeholder="Where we'll email you" name="emailAddress" required [(ngModel)]="customer.emailAddress" #emAdd="ngModel"
          [ngClass]="emAdd.invalid && (emAdd.dirty || trialForm.submitted) ? 'error-outline' : ''">
          <div class="form-error" *ngIf="emAdd.invalid && (emAdd.dirty || trialForm.submitted)">
            <div class="error-pop">Email is required</div>
          </div>
        </div>


        <div id="form-btm">
          <div class="form-button">
            <button type='submit' class='kform_submitBtn btn' id='kformSubmit'>
										<i class="fa fa-caret-right fa-2x" style="color:#ed145b; width:15px; transform: scale(1.5,1); position:relative; top:7px; left:-12px;" aria-hidden="true"></i>
										RUSH MY TRIAL</button>
          </div>
        </div>
      </form>
    </div>

  </div>
</div>