<div id="popover-1">
  <div id="pop-box-1" style="top: 0px; opacity: 0;">
    <div>
      <h2>WAIT!</h2>
      <div class="para">
        <h3>Are you sure you want to leave?</h3>
        <p><span class="f34 grey">DON'T MISS OUT ON THIS EXCLUSIVE OFFER</span></p>
        <div class="pop-img"><img src="assets/img/down-prod.png"></div>
        <div class="pop-bottle"><img class="adjuster" width="300" height="298" style="   position: absolute;
      top: -328px;
    left: -18px;" src="assets/img/{{global.product1}}" alt=""></div>
      </div>
    </div>
    <p><a href="/discount" id="down-btn-1">CLAIM YOUR TRIAL</a></p>
    <div id="pop-terms-1">
      <p>We are confident that
        {{global.productName}} is your new injection-free solution to beautiful, radiant-looking skin. Packed with powerful anti-aging ingredients,
        {{global.productName}} works to eliminate the look of dark circles, reduce the appearance of wrinkles, enhance skin hydration, and counter
        effects of stress. Say no to needles - achieve visibly younger looking skin the natural way! Claim your exclusive
        trial of
        {{global.productName}} now and start seeing results.
        <br><a href="#" onclick="no_thanks();">No thanks, I'd rather not have beautiful, radiant-looking skin.</a></p>
    </div>
  </div>
  <div id="overlay-1"></div>
</div>