<div class="footer-part-1">
  <div class="container">
    <div class="foot-part-1">
      <div class="heading">
        <span>Limited Time Offer</span> Trial Offer Only Available to First Time Users
      </div>
      <div class="foot-part1-model"><img src="/assets/img/foot-model-1.png" alt="" width="605" height="404"></div>
      <div class="foot-part1-tag"><img src="/assets/img/premium-tag.png" alt="" width="140" height="140"></div>
      <div class="foot-part1-bottle"><img class="adjuster2" src="/assets/img/{{global.product1}}" alt="" width="317" height="310"></div>
      <div class="foot-part1-logo"><img src="/assets/img/{{global.logo}}" alt="" width="169" height="66"></div>
      <div class="foot-part1-achieve"><img src="/assets/img/achieve-txt.png" alt="" width="244" height="90"></div>
      <div class="foot-part1-button">
        <a class="rush_btn" href="#top"></a>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
<div class="footer-txt">
  <div class="container">
    <div class="foot-cont">
      <p>This product has not been evaluated by the FDA. This product is not intended to diagnose, treat, cure or prevent any
        disease. Results in description are illustrative and may not be typical results and individual results may vary.
        The depictions on this page are fictitious and indicative of potential results. Representations regarding the efficacy
        and safety of
        {{global.productName}} have not been scientifically substantiated or evaluated by the Food and Drug Administration.
      </p>
    </div>
    <div class="foot-cont-2">
      <p>
        <a href="javascript:void(0);" onClick="javascript:openNewWindow('/assets/html/contact.html', 'modal');">Contact Us</a> |
        <a href="javascript:void(0);" onClick="javascript:openNewWindow('/assets/html/terms.html', 'modal');">Terms and Conditions</a>        |
        <a href="javascript:void(0);" onClick="javascript:openNewWindow('/assets/html/privacy.html', 'modal');">Privacy Policy </a>
      </p>
      <p>
        {{date | date: 'yyyy'}} &copy;
        {{global.name}}
      </p>
    </div>
    <div class="clear"></div>
  </div>
</div>