.exitpopup-overlay {
  background: rgba(49, 49, 49, 0.8) none repeat scroll 0 0;
  opacity: 1
}

.exitpop-content img {
  top: 0
}

.center {
  text-align: center;
}

#loading-indicator {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  box-sizing: border-box;
  height: 100%;
  left: 0;
  margin: 0 auto;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  padding: 0px !important;
  margin: 0px !important;
  font-size: 1px;
  z-index: 99990
}

#loading-indicator:before {
  background: url("/assets/img/loading.gif") no-repeat center center;
  box-sizing: border-box;
  content: "";
  height: 70px;
  left: 50%;
  margin-left: -35px;
  margin-top: -70px;
  position: absolute;
  top: 50%;
  width: 70px;
  z-index: 99996
}

#loading-indicator:after {
  background: #fff;
  border-radius: 5px;
  box-sizing: border-box;
  color: #000;
  content: "Processing, one moment please... ";
  font-family: arial;
  font-size: 17px;
  height: 110px;
  left: 50%;
  line-height: 98px;
  margin-left: -150px;
  margin-top: -75px;
  padding-top: 35px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 300px;
  z-index: 99995
}

#discountholder {
  font-family: Arial, Helvetica, sans-serif
}

.discountsection {
  z-index: 100;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: red;
  border-bottom: white dashed 4px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: white
}

.btn {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  background: #00EFC5;
  padding: 20px 25px 20px 25px;
  text-decoration: none;
  width: 90%;
  margin: 0 0 0 15px;
  transition: all .2s ease-in-out;
  box-shadow: 0px 0px 0px #2a2a2a
}

.btn:hover {
  background: #ED145B;
  color: #fff;
  text-decoration: none;
  transform: scale(1.05);
  transition: all .2s ease-in-out;
  box-shadow: 3px 3px 6px #3a3a3a;
  cursor: pointer
}

select {
  height: 27px;
  width: 187px;
  margin-right: 8px;
  text-indent: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc
}

#insureship {
  margin-top: 16px;
  padding: 5px 10px;
  font-size: 12px;
  /* background: #F3F3F3;
  border-radius: 10px; */
}

.protect-package {
  font: normal 12px arial;
  background: url(/assets/img/protect-page-badge.png) no-repeat;
  height: auto;
  margin: -5px auto 0 auto;
  text-align: justify
}

.buttonhide {
  display: none
}

.protect-package {
  font: normal 12px arial;
  background: url(/assets/img/protect-page-badge.png) no-repeat;
  height: 61px;
  margin: 15px auto 0 auto
}

.protect-package a {
  color: black
}

.ppimg {
  position: fixed;
  display: none
}

input[type=email] {
  margin: 0 8px 6px 8px;
  text-indent: 10px;
}