.btn {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  background: #00EFC5;
  padding: 6px 25px 20px 25px;
  text-decoration: none;
  width: 90%;
  margin: 35px 0 0 15px;
  transition: all .2s ease-in-out;
  box-shadow: 0px 0px 0px #2a2a2a
}

.btn:hover {
  background: #E25E9D;
  color: #fff;
  text-decoration: none;
  transform: scale(1.05);
  transition: all .2s ease-in-out;
  box-shadow: 3px 3px 6px #3a3a3a;
  cursor: pointer
}

.input-validation {
  position: relative
}

input[type="text"]:valid ~ .input-validation::before {
  content: "\f00c";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: green;
  font-size: 18px;
  padding-right: 0.5em;
  position: absolute;
  top: 6px;
  right: 20px
}

input[type="email"]:valid ~ .input-validation::before {
  content: "\f00c";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: green;
  font-size: 18px;
  padding-right: 0.5em;
  position: absolute;
  top: 6px;
  right: 20px
}

input[type="number"]:valid ~ .input-validation::before {
  content: "\f00c";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: green;
  font-size: 18px;
  padding-right: 0.5em;
  position: absolute;
  top: 6px;
  right: 20px
}

.redbar-text {
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  width: 100%;
  text-align: center
}

.adjuster {
  position: relative;
  left: -50px
}

.adjuster2 {
  position: relative;
  left: -6px;
  width: 307px
}

#popover-1 {
  background: #fff url(/assets/img/down-bg.jpg) top center no-repeat;
  background-size: cover;
  position: fixed;
  top: 0px;
  left: 2px;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 9999
}

#popover-1 img {
  display: block;
  margin: 25px auto 0px auto;
  position: relative;
  left: 2px
}

#overlay-1 {
  position: fixed;
  background: #fff;
  opacity: .65;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

#pop-box-1 div > h2 {
  text-indent: 0px;
  font-family: "Montserrat", sans-serif;
  font-size: 58px;
  font-weight: 700;
  color: #ed145b;
  height: 40px;
  line-height: 45px
}

#pop-box-1 div > h3 {
  color: #ed145b;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 300;
  padding: 5px 0
}

.f34.grey {
  font-size: 28px
}

#pop-box-1 {
  width: 765px;
  margin: 4px auto;
  font-size: 24px;
  text-align: center;
  position: relative;
  z-index: 2;
  top: 100px;
  opacity: 0;
  transition: opacity 500ms, top 500ms;
  transition-delay: 250ms
}

#pop-box-1 .para {
  margin: 0px 0
}

#pop-box-1 a {
  color: black
}

#pop-box-1 p {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  line-height: normal;
  font-size: 19px
}

#pop-box-1 p span {
  font-weight: 800
}

#down-btn-1 {
  background: #39edc5 none repeat scroll 0 0;
  border-radius: 5px;
  box-shadow: 4px 4px 0 0 #5a5a5a;
  color: #000;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding: 25px 36px 25px 33px;
  position: relative;
  text-decoration: none;
  width: 325px
}

#down-btn-1:active {
  background: #02cfab
}

#down-btn-1:after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  width: 0;
  height: 0;
  left: 30px;
  top: 30px;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 10px solid #e8215d
}

#pop-terms-1 {
  margin-top: 35px
}

#pop-terms-1 p {
  font-size: 11px;
  padding: 0 45px
}

#viewing-lp.viewing {
  background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
  border-radius: 5px;
  bottom: 10px;
  color: red;
  font-family: Arial;
  font-weight: bold;
  height: auto;
  left: inherit;
  padding: 10px 15px;
  position: fixed;
  right: 10px;
  text-align: center;
  width: auto;
  z-index: 999;
  opacity: 0;
  transition: all ease 0.1s;
  -moz-transition: all ease 0.1s;
  -webkit-transition: all ease 0.1s;
  -o-transition: all ease 0.1s
}

#viewing-lp.viewing .close {
  background: #fff none repeat scroll 0 0;
  border-radius: 50%;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.59);
  cursor: pointer;
  font-size: 9px;
  height: 15px;
  left: -6px;
  line-height: 15px;
  position: absolute;
  text-align: center;
  top: -6px;
  width: 15px
}

#viewing-lp.viewing a {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  box-shadow: none;
  color: #fff;
  font-size: inherit;
  height: auto;
  left: 0;
  margin: 0;
  padding: 0;
  position: relative;
  right: 0;
  text-align: center;
  text-decoration: underline;
  top: 0;
  width: auto
}

.bl {
  font-weight: bold
}

.pop-bottle {
  position: relative
}

.pop-img {
  position: relative
}

img#productSilk {
  position: absolute
}

.featured_block_right {
  position: relative
}

img#productSilkProd {
  position: absolute;
  top: 65px;
  left: 28px
}

.btn {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  background: #00EFC5;
  padding: 6px 25px 20px 25px;
  text-decoration: none;
  width: 90%;
  margin: 35px 0 0 15px;
  transition: all .2s ease-in-out;
  box-shadow: 0px 0px 0px #2a2a2a
}

.btn:hover {
  background: #E25E9D;
  color: #fff;
  text-decoration: none;
  transform: scale(1.05);
  transition: all .2s ease-in-out;
  box-shadow: 3px 3px 6px #3a3a3a;
  cursor: pointer
}

.input-validation {
  position: relative
}

input[type="text"]:valid ~ .input-validation::before {
  content: "\f00c";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: green;
  font-size: 18px;
  padding-right: 0.5em;
  position: absolute;
  top: 6px;
  right: 20px
}

input[type="email"]:valid ~ .input-validation::before {
  content: "\f00c";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: green;
  font-size: 18px;
  padding-right: 0.5em;
  position: absolute;
  top: 6px;
  right: 20px
}

input[type="number"]:valid ~ .input-validation::before {
  content: "\f00c";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: green;
  font-size: 18px;
  padding-right: 0.5em;
  position: absolute;
  top: 6px;
  right: 20px
}

.kform .text {
  position: relative;
}

.form-error {
  top: -4px;
  position: absolute;
  left: -185px;
  z-index: 10000;
  box-shadow: 5px 5px 5px #888;
}

.form-error .error-pop {
  width: 200px;
  padding: 5px 10px 5px 10px;
  border: medium solid #cc0000;
  color: #cc0000;
  background: white;
  font-size: 14px;
  font-family: Arial;
  font-weight: bold;
}

.form-error .error-pop span {
  font-weight: bold;
}

.kform .error-outline {
  border: 1px solid #cc0000;
}

img#productSilk {
  position: absolute
}

.featured_block_right {
  position: relative
}

img#productSilkProd {
  position: absolute;
  top: 65px;
  left: 28px
}