<div class="layer-8">
  <div class="container">
    <div class="layer-8-imgs">
      <div class="layer-8-img1"><img src="/assets/img/vitalize.jpg" alt="" width="321" height="304"></div>
      <div class="layer-8-img2"><img src="/assets/img/replenish.jpg" alt="" width="321" height="303"></div>
      <div class="layer-8-img3"><img src="/assets/img/moisturize-3.jpg" alt="" width="321" height="302"></div>
      <div class="clear"></div>
    </div>
  </div>
</div>