<div class="btn_block">
  <span class="btn_block_txt">
    <b>Achieve Visibly Younger Looking Skin!</b>
    {{global.productName}} Supplies are limited. Get it today!
  </span>
  <a href="#top" class="rush_btn"></a>
</div>