<div id="content" style="padding:15px;">
  <div>
    <h1>
      {{global.productName}} Terms and Conditions of Use
    </h1>
    <p>
      <strong>CAREFULLY READ AND UNDERSTAND THESE TERMS BEFORE ORDERING ANY PRODUCT THROUGH THIS WEBSITE</strong>
    </p>
    <p>
      <strong>ATTENTION:</strong> This is a legal agreement (the "Agreement") between You, the individual, company or organization
      ("you," "your," or "Customer") and
      {{global.corpName}} ("we," "our", "Company"). By ordering, accessing, using or purchasing
      {{global.name}} ("Product") through this website or related websites (collectively the "Website"), you are agreeing to be bound by,
      and are becoming a party to, this Agreement. We may at our sole and absolute discretion change, add, modify, or delete
      portions of this Agreement at any time without notice. It is your sole responsibility to review this Agreement for
      changes prior to use of the Website or purchase of the Product.
    </p>
    <p>
      IT IS STRONGLY RECOMMENDED THAT YOU REVIEW THIS DOCUMENT IN ITS ENTIRETY BEFORE ACCESSING, USING OR BUYING ANY PRODUCT THROUGH
      THE WEBSITE AND PRINT A COPY FOR YOUR RECORDS.
    </p>
    <p>
      <strong>Terms and Conditions</strong>
      <br/> Please carefully read the following terms and conditions as when you purchase any of the products from our web
      site, you agree and are bound to the following terms and conditions. Your order will not be processed unless you check
      the box near the terms and conditions signifying that you have read and agreed to the terms.
    </p>
    <p>
      This Agreement is between
      {{global.name}} and you ("you" or "Customer") This Section sets forth the terms and conditions which apply to the use by you of the
      website (as defined below) and any other subscription product or service offered for sale by
      {{global.name}} and/or its affiliates.
    </p>
    <p>
      The right to use any product or service offered by
      {{global.name}} is personal to you and is not transferable to any other person or entity.
      {{global.name}} reserves the right to make changes to the website, policies, and these terms at any time without notice
    </p>
    <p>
      <strong>Trial Offer Terms/Auto-Ship Program</strong>
    </p>
    <p>
      <strong>
                By placing your trial order today you'll be shipped a 30 day supply of {{global.productName}} for ${{global.shipping}} S&amp;H. All products ship within 1 business
                day and deliver within 2-4 days from shipment.
            </strong> Try it for
      {{global.totalTrial}} days (
      {{global.minusShipTime}} day trial plus 4 days added for transit time) to experience the benefits and if for any reason our product is not
      for you, you may call our Customer Care toll-free at
      {{global.phone}} within your
      {{global.totalTrial}} day trial period to cancel. If you are satisfied, do nothing and you agree to be charged $
      {{global.trialPrice}}. Plus you agree to be enrolled in our
      {{global.name}} Preferred Membership Program and approximately 30 days from your initial order date and every 30 days thereafter,
      you will receive a fresh supply of
      {{global.productName}} for $
      {{global.trialPrice}} (plus $
      {{global.shipping}} shipping and handling). You may cancel your enrollment by calling
      {{global.phone}} for Customer Serivce. Limit 1 trial bottle per household
    </p>
    <p>
      Regardless of whether you cancel your Trial in a timely fashion or not, You will be responsible for paying the shipping and
      handling charges associated with your Product $
      {{global.shipping}}. You agree that we can charge your credit card for this amount, and you agree to pay such amount regardless of whether
      you cancel your Trial in a timely fashion or not. No refunds will be issued for shipping and handling charges.
    </p>
    <p>
      As an added benefit to you,
      {{global.name}} reserves the right to temporarily reduce the price of each Product, without prior notice to you, for promotional purposes
      or to ensure that payment is received by
      {{global.name}}. If
      {{global.name}} modifies its prices downward, You will be billed at the reduced price until the promotional period ends. Downward
      modified or promotional prices may be restored to normal rates without prior notice to you.
    </p>
    <p>
      <strong>Negative Option Clause</strong>
      <br/> THIS CONSUMER TRANSACTION INVOLVES A NEGATIVE OPTION, AND THAT YOU MAY BE LIABLE FOR PAYMENT OF FUTURE GOODS
      AND SERVICES UNDER THE TERMS OF THIS AGREEMENT FOR $
      {{global.trialPrice}} PER MONTH IF YOU FAIL TO NOTIFY THE SUPPLIER NOT TO SUPPLY THE GOODS OR SERVICES DESCRIBED.
    </p>
    <p>
      <strong>Disclaimer of Warranty; Limitation of Liability </strong>
      <br/>
      {{global.name}} neither endorses nor is responsible for the accuracy or reliability of any opinion, advice or statement on the website.
      Under no circumstances will
      {{global.name}} be liable for any loss or damage caused by your reliance on information obtained through the content on the website.
      It is your responsibility to evaluate the accuracy, completeness or usefulness of any information, opinion, advice
      or other content available through the website. Please seek the advice of professionals, as appropriate, regarding
      the evaluation of any specific information, opinion, advice or other content, including but not limited to financial,
      health, or lifestyle information, opinion, advice or other content. You understand that the statements made about
      {{global.name}}, or any other product mentioned on this website have not been evaluated by the Food and Drug Administration and are
      not intended to diagnose, treat, cure or prevent any disease.
    </p>
    <p>
      <strong>Indemnification.</strong>
      <br/> You agree to defend, indemnify and hold harmless
      {{global.name}}, its affiliates and their respective directors, officers, employees and agents from and against all claims and expenses,
      including attorneys' fees, arising out of the use by you of the website, including claims by other users, access, products
      or memberships.
    </p>
    <p>
      <strong>Refund/Return Policy</strong>
      <br/> We believe in complete customer satisfaction. You have 30 days to request a refund of unopened merchandise after
      you receive your order. Refunds are not given for trial sized bottles. To return a product, you will need to obtain
      a Return Merchandise Authorization (RMA) number by contacting us at
      {{global.phone}}. Our customer service department will email you an RMA number within 24-48 hours of your request. You will be refunded
      for each unopened unit you send back to us only. You will need to send in the unopened unit back to the address provided
      below. Upon receipt you will receive a refund of purchase price minus shipping and handling. Refused or returned packages
      that are sent to us without prior approval from Customer Care are not eligible for a refund. Initial trial bottles
      need not be returned at any point or for any reason in order to cancel membership or request a refund.
    </p>
    <p>
      <strong>Return Address:</strong>
      <br/>

      <br/>
      <?php echo $returnaddress;?>
      <br/>
      <strong>
                RMA # ___________________
                <br/>
                Be sure to write your RMA # on the outside of the envelope for proper account credit.
            </strong>
    </p>
    <p>
      We are not responsible for lost or stolen items. We recommend all returned items to be sent using some type of delivery confirmation
      system to ensure proper delivery.
    </p>
    <p>
      After the shipping department receives your return, it generally takes 7 business days or sooner to process your refund.
      Once a return is processed, it usually takes 3-5 business days for the return to be posted to your account, depending
      on your financial institution.
    </p>
    <p>
      Please note the following terms:
    </p>
    <ul>
      <li>
        Trials are subject to billing for the balance of purchase price of the product after the specified trial period (i.e., 10
        days + 4 days shipping). To prevent this billing, you must contact customer support within the time frame of your
        trial period. You will not be required to return your trial bottle(s).
      </li>
      <li>
        Packages marked "Return to Sender" will NOT be processed or refunded. Returned packages will only be refunded with an RMA
        number that was provided by Customer Service. Call Customer Service at
        {{global.phone}} for your RMA number. RMA numbers are good for 30 days.
      </li>
      <li>
        Refunds will only be issued to the same credit card to which they were charged.
      </li>
      <li>
        Customer is responsible for return shipping charges.
      </li>
      <li>
        After the warehouse receives your return, it generally takes 2 business days to process your return. Please keep in mind
        that your bank typically posts credit in the billing cycle in which it was received. Therefore, the number of days
        it takes for credit to post to your account may vary, depending on your banking institution's billing and credit
        schedule.
      </li>
      <li>
        Our customer service representatives may offer you a discounted price or partial refund if you call to cancel your account.
        You may accept or reject the discounted price or partial refund. If you reject the discount or partial refund, then
        in order to obtain your refund you will be required to return the product to us using an RMA number as described
        above. If you accept the discount or partial refund, you agree to waive your right to return this order.
      </li>
    </ul>
    <p>
      <strong>Legal Disclaimer</strong>
      <br/> Statements made by
      {{global.name}} have not been evaluated by the food and drug administration. The FDA does not evaluate or test herbs. These products
      are not intended to diagnose, treat, cure or prevent any illness or disease. Consult with your physician for diagnosis
      or treatment. Use herbs as per instructions and always watch for any allergic reactions.
    </p>
    <p>
      The information presented on this site is not presented with the intention of diagnosing any disease or condition or prescribing
      any treatment. It is offered as information only, for use in the maintenance and promotion of good health in cooperation
      with a licensed medical practitioner.
    </p>
    <p>
      In the event that any individual should use the information presented on this website without a licensed medical practitioner's
      approval, that individual will be diagnosing for him or herself.
    </p>
    <p>
      No responsibility is assumed by
      {{global.name}}, the author, publisher or distributors of this information should the information be used in place of a licensed medical
      practitioner's services. No guarantees of any kind are made for the performance or effectiveness of the preparations
      mentioned on this website. Furthermore, this information is based solely on the traditional and historic use of a given
      herb, or on clinical trials that are generally not recognized by any US government agency or medical organization.
    </p>
    <p>
      <strong>Herbal Safety Guidelines</strong>
      <br/> Before using an herb you are unfamiliar with, find out its medicinal properties. Research it thoroughly and/or
      consult with an appropriately qualified practitioner or expert. If you are taking prescription drugs, or have a medical
      condition, check with an appropriately qualified practitioner before using herbs medicinally. Herbs have shown overwhelming
      evidence that they work. Just because a small amount works well does NOT mean that more is better. As individuals we
      all have different constitutions, sensitivities, allergic reactions and possible health conditions. The following are
      merely guidelines. They include herbs offered on our websites. This list does not help with administering information
      on possible interactions and contraindications with prescription medicine. This needs to be discussed with your physician.
    </p>
    <p>
      <strong>Reversals and Chargebacks</strong>
      <br/> We consider Chargebacks and reversals as potential cases of fraudulent use of our services and/or theft of services,
      and will be treated as such. We reserve the right to file a complaint with the appropriate local and federal authorities
      to investigate. Be advised that all activity and IP address information is being monitored and that this information
      may be used in a civil and/or criminal case(s) against a client if there is fraudulent use and or theft of services.
    </p>
    <p>
      <strong>Customizing Orders</strong>
      <br/> Customer satisfaction is our main priority, and we are always interested in making our customers' experience
      with our products enjoyable and convenient. If you would like to request custom arrangements for your account, such
      as delaying billing, and/or delaying a shipment, just call our customer service representatives and we will be happy
      to discuss your account with you. We cannot accommodate every request, but we do our best to accommodate where possible.
      To ensure the highest quality customer care, and to be sure that your order is handled correctly, your call will be
      recorded and archived for future reference.
    </p>
    <p>
      <strong>Representations</strong>
      <br/> You hereby represent and warrant that:
    </p>
    <ol>
      <li>
        You are age eighteen (18) or older.
      </li>
      <li>
        You have read this Agreement and thoroughly understand the terms contained.
      </li>
      <li>
        You further represent that
        {{global.name}} has the right to rely upon all information and may contact you by email, telephone or postal mail for any purpose
        regarding the use of this website
      </li>
    </ol>
    <p>
      <strong>Billing &amp; Customer Support: </strong>
      <br/> We welcome all support inquires by the following methods:
    </p>
    <p>
      <strong>Toll Free:</strong>
      {{global.phone}}
      <br/> Call anytime Monday - Sunday for Customer Service.
    </p>
    <p>
      Product Return Address:
      <br/>
      {{global.name}} Return Department
      <br/>
      {{global.returnaddress}}
      <br/>
      <br/>

    </p>
  </div>
</div>