<link rel="stylesheet" href="/assets/css/app.css" />
<link href="/assets/css/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/assets/css/style2.css" />
<link rel="stylesheet" href="/assets/css/checkout.css">
<link  type='text/css' href='/assets/css/kprofile.css' rel='stylesheet' />
<link  type='text/css' href='/assets/css/kform.css' rel='stylesheet' />
<link  type='text/css' href='/assets/css/kcart.css' rel='stylesheet' />

<div class="checkout_body">
  <div class="main_container">
    <div class="container">
      <div class="header_cont">
        <div id="wrapper">
          <div id="banner">
            <img src="/assets/img/{{global.logo}}" alt="logo" class="logo" />
            <div id="steps">
              <ul>
                <li class="step-1">
                  <div class="step">
                    <p>1</p>
                  </div>
                  <p class="step-name">SHIPPING INFO</p>
                </li>
                <li class="step-2">
                  <div class="step">
                    <p>2</p>
                  </div>
                  <p class="step-name">FINISH ORDER</p>
                </li>
                <li class="step-3">
                  <div class="step">
                    <p><img src="/assets/img/step-check.png" alt="check" class="check" /></p>
                  </div>
                  <p class="step-name">SUMMARY</p>
                </li>
              </ul>
              <div id="steps line">
                <div style="width: 143px;" id="slider"></div>
              </div>
            </div>
            <div class="demographic">
              <img src="/assets/img/flag.png" alt="flag" class="flag" />
              <p>Internet Exclusive Offers<br />Available to US Residents Only</p>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="main_cont_body">
        <div class="main">
          <div class="main_header">
            <p><img src="/assets/img/main_header_icon.png" width="33" height="20" alt="" title="" /> {{randomBetween3and9}} others
              are viewing this offer right now - <span id="time">{{message}}</span></p>
          </div>
          <h1 *ngIf="discout" class="chek_discount_arrow"><img src="/assets/img/chek_discount_arrow.png" height="22" width="22" alt="" title="" /> DISCOUNT ACTIVATED, SAVINGS APPLIED!</h1>
          <p class="great_choice"><strong>Great Choice, {{customer.name}}!</strong> You're taking your first step towards a better skin. Act
            now so you don't miss out on this offer!</p>
          <p class="low_stick"> Current Availability: <img src="/assets/img/low_stick.png" height="19" width="63" alt="" title="" /><span>LOW STOCK.</span>            Sell-out Risk: <strong>HIGH </strong>
            <br /><br />Just pay a small shipping fee. Enjoy your expedited delivery to <strong><span id="address">{{customer.shipCity}}</span></strong>!
          </p>
          <div class="bolder_chk_checkout">
            <p>Your order is scheduled to arrive by <strong>{{date | date:'MMMM dd, yyyy'}}</strong></p>
          </div>
          <div class="hero_checkout">
            <div class="hero_left"> <img class="chk_double_bottle" src="/assets/img/{{global.product1}}" width="203" height="103" alt="" title=""
              /> </div>
            <div class="hero_right">
              <p><strong>{{global.productName}}</strong> 30g - 30 Day Supply</p>
              <ul>
                <li class="price_chk"> <span>Price:</span>
                  <p id="pri">$ 0.00
                  </p>
                  <div class="clear"></div>
                </li>
                <li> <span>Shipping &amp; Handling:</span>
                  <p id="shipping">$ {{global.shipping}}
                  </p>
                  <div class="clear"></div>
                </li>
                <li> <span>NEW TOTAL</span>
                  <p id="tot">$ {{global.checkPrice + global.shipping}}
                  </p>
                  <div class="clear"></div>
                </li>
              </ul>
              <img class="chk_port" src="/assets/img/chk_port.jpg" width="337" height="68" alt="" title="" /> </div>
            <img src="/assets/img/chek_arrow.png" width="649" height="96" alt="" title="" />

            <div class="clear"></div>
          </div>
        </div>
        <aside class="aside" app-checkout-form></aside>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  <app-footer-alt></app-footer-alt>
  <script src="/assets/js/exitpop.js" type="text/javascript"></script>
  <script type="text/javascript">
    function checkShip() {
      var cbox = document.getElementById("ship");
      if (cbox.checked) {
        $('#shipping').html('${{global.shipping + global.shipProtection_productPrice}}');
        console.log(shippingPrice);
        $('#tot').html('{{global.shipping + global.shipProtection_productPrice + global.price}}');
        console.log(shippingPrice);
        $('#shipProtection').val('NO');
      } else {
        var shippingPrice = parseFloat('{{global.shipping}}');
        var protectionPrice = parseFloat('{{global.shipProtection_productPrice}}');
        var productPrice = parseFloat('{{global.price}}');
        var total = shippingPrice + productPrice;
        var finalTotal = '$' + total.toFixed(2);
        var shipTotal = '$' + shippingPrice;
        var ttl = document.getElementById("tot");
        var shipttl = document.getElementById("shipping");
        ttl.innerHTML = finalTotal;
        shipttl.innerHTML = shipTotal;
        //$('#total_price').html('$' + '7.94');
        $('#shipProtection').val('YES');
      }
    }
    checkShip();
  </script>
  <script>
    $(document).ready(function () {
      var MainForm = '#kform';

      $('input[name="billShipSame"]', MainForm).change(function () {
        if ($('input[name="billShipSame"]:checked', MainForm).val() == '1') {
          $('.billing', MainForm).hide();
        } else {
          $('.billing', MainForm).removeClass('hidden');
          $('.billing', MainForm).fadeIn('fast');
        }
      }).trigger('change');
    });
  </script>
  <script>
    $.getJSON("https://freegeoip.net/json/", function (data) {
      var country_code = data.country_code;
      var country = data.country_name;
      var ip = data.ip;
      var time_zone = data.time_zone;
      var latitude = data.latitude;
      var longitude = data.longitude;


    });
    $.get("https://freegeoip.net/json/", function (response) {
      $("#ip").html("IP: " + response.ip);
      $("#address").html(response.region_name);
      $("#details").html(JSON.stringify(response, null, 4));
    }, "jsonp");
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDj9VcZYkQyKNysT5Oz2kI8DwfnvVZmyBA">

  </script>
  <script type="text/javascript">
    $(function () {
      $('.zip-change').on('blur keyup', function () {
        var $this = $(this);
        //console.log("step 1");
        if ($this.val().length == 5) {
          getAddressInfoByZip($this.val());
        }
      });

      $(".phn").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 || (e.keyCode == 65 && (e.ctrlKey === true || e.metaKey === true)) || (e.keyCode >= 35 && e.keyCode <= 40)) {
          return;
        }
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
          e.preventDefault();
        }
      });
    });

    function getAddressInfoByZip(zip) {
      //console.log("step 2");
      if (zip.length >= 5 && typeof google != 'undefined') {
        var addr = {};
        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({
          'address': zip
        }, function (results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
            if (results.length >= 1) {
              for (var ii = 0; ii < results[0].address_components.length; ii++) {
                var street_number = route = street = city = state = zipcode = country = formatted_address = '';
                var types = results[0].address_components[ii].types.join(",");
                if (types == "street_number") {
                  addr.street_number = results[0].address_components[ii].long_name;
                }
                if (types == "route" || types == "point_of_interest,establishment") {
                  addr.route = results[0].address_components[ii].long_name;
                }
                if (types == "sublocality,political" || types == "locality,political" || types == "neighborhood,political" || types == "administrative_area_level_3,political") {
                  addr.city = (city == '' || types == "locality,political") ? results[0].address_components[ii].long_name : city;
                }
                if (types == "administrative_area_level_1,political") {
                  addr.state = results[0].address_components[ii].short_name;
                }
                if (types == "postal_code" || types == "postal_code_prefix,postal_code") {
                  addr.zipcode = results[0].address_components[ii].long_name;
                }
                if (types == "country,political") {
                  addr.country = results[0].address_components[ii].long_name;
                }
              }
              addr.success = true;
              for (name in addr) {
                //console.log('### google maps api ### ' + name + ': ' + addr[name]);
              }
              //response(addr);
              //console.log(addr);

              // Autopopulate city and state
              if (addr.country == 'United States') {
                var state = addr.state;
                var city = addr.city;
                $('#fields_state').find($('#fields_state').val(state)).attr('selected', 'selected');
                $('#fields_city').val(city);
                $('.zip-change').addClass('valid').removeClass('error');
              } else {
                //$('#error_handler_overlay1').show();
                //$('#error').html($('.zip-change').val() + ' is wrong US zip code');
                //alert($('.zip-change').val()+' is wrong zip code');
                $('#fields_state').find($('#fields_state').val('')).attr('selected', 'selected');
                $('.zip-change').addClass('error').removeClass('valid');
                //$('.zip-change').val('');
                $('#fields_city').val('');
                return false;
              }


            } else {
              //response({success:false});
              return false;
            }
          } else {
            //response({success:false});
            return false;
          }
        });
      } else {
        //response({success:false});
        return false;
      }
    }

    function response(obj) {
      //console.log(obj);
    }

  //console.log(country);
  </script>
</div>