<div class="aside_head">
  <h1>FINAL STEP</h1>
  <h2>PAYMENT INFORMATION</h2>
</div>
<form id='kform' class='kform form' #checkForm="ngForm">
  <input type="hidden" name="productId" value="{{customer.productId}}">

  <div *ngIf="customer.discount">
    <div class="active text">
      <label>First Name:</label>
      <input type="text" placeholder="eg., John" name="firstName" required [(ngModel)]="customer.firstName" #fn="ngModel" [ngClass]="fn.invalid && (fn.dirty || checkForm.submitted) ? 'error-outline' : ''">
      <div class="form-error" *ngIf="fn.invalid && (fn.dirty || checkForm.submitted)">
        <div class="error-pop">First Name is required</div>
      </div>
    </div>
    <div class="text">
      <label>Last Name:</label>
      <input type="text" placeholder="eg., Doe" name="lastName" required [(ngModel)]="customer.lastName" #ln="ngModel" [ngClass]="ln.invalid && (ln.dirty || checkForm.submitted) ? 'error-outline' : ''">
      <div class="form-error" *ngIf="ln.invalid && (ln.dirty || checkForm.submitted)">
        <div class="error-pop">Last Name is required</div>
      </div>
    </div>

    <div class="text">
      <label>Address:</label>
      <input type="text" name="shipAddress1" placeholder="Your Address" required [(ngModel)]="customer.shipAddress1" #sAdd="ngModel"
        [ngClass]="sAdd.invalid && (sAdd.dirty || checkForm.submitted) ? 'error-outline' : ''">
      <div class="form-error" *ngIf="sAdd.invalid && (sAdd.dirty || checkForm.submitted)">
        <div class="error-pop">Address is required</div>
      </div>
    </div>
    <div class="text">
      <label>Zip code:</label>
      <input type="text" class="zip-change" name="shipPostalCode" placeholder="Zip Code" pattern="[0-9]{5}" maxlength="5" required
        [(ngModel)]="customer.shipPostalCode" #sZip="ngModel" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
        [ngClass]="sZip.invalid && (sZip.dirty || checkForm.submitted) ? 'error-outline' : ''">
      <div class="form-error" *ngIf="sZip.invalid && (sZip.dirty || checkForm.submitted)">
        <div class="error-pop">
          <span *ngIf="sZip.errors.required">Zip Code is required</span>
          <span *ngIf="sZip.errors.pattern || sZip.errors.maxlength">Zip Code is invalid</span>
        </div>
      </div>
    </div>
    <div class="text">
      <label>City:</label>
      <input type="text" name="shipCity" id="fields_city" placeholder="Your City" required [(ngModel)]="customer.shipCity" #sCity="ngModel"
        [ngClass]="sCity.invalid && (sCity.dirty || checkForm.submitted) ? 'error-outline' : ''">
      <div class="form-error" *ngIf="sCity.invalid && (sCity.dirty || checkForm.submitted)">
        <div class="error-pop">City is required</div>
      </div>
    </div>
    <input type='hidden' name='shipCountry' value='US' [(ngModel)]="customer.shipCountry">

    <div class="text">
      <label>State:</label>
      <select required name='shipState' id="fields_state" [(ngModel)]="customer.shipState" #sState="ngModel" [ngClass]="sState.invalid && (sState.dirty || checkForm.submitted) ? 'error-outline' : ''">
                <option [selected] [value]=''>Select State</option>
                <option *ngFor="let abbr of statesAbbr" [value]="abbr">{{states[abbr]}}</option>
              </select>
      <div class="form-error" *ngIf="sState.invalid && (sState.dirty || checkForm.submitted)">
        <div class="error-pop">State is required</div>
      </div>
    </div>

    <div class="text">
      <label>Phone:</label>
      <input type="text" name="phoneNumber" placeholder="(___)___-____" required [(ngModel)]="customer.phoneNumber" #pNum="ngModel"
        pattern="[0-9]{10}" maxlength="10" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
        [ngClass]="pNum.invalid && (pNum.dirty || checkForm.submitted) ? 'error-outline' : ''">
      <div class="form-error" *ngIf="pNum.invalid && (pNum.dirty || checkForm.submitted)">
        <div class="error-pop">
          <span *ngIf="pNum.errors.required">Phone Number is required</span>
          <span *ngIf="pNum.errors.pattern || pNum.errors.maxlength">Phone Number is invalid</span>
        </div>
      </div>
    </div>
    <div class="text">
      <label>Email:</label>
      <input type="email" placeholder="Where we'll email you" name="emailAddress" required [(ngModel)]="customer.emailAddress"
        #emAdd="ngModel" [ngClass]="emAdd.invalid && (emAdd.dirty || checkForm.submitted) ? 'error-outline' : ''">
      <div class="form-error" *ngIf="emAdd.invalid && (emAdd.dirty || checkForm.submitted)">
        <div class="error-pop">Email is required</div>
      </div>
    </div>
  </div>

  <div class='kform_spacer kform_checkbox' style="font-size: 12px;font-weight: normal;line-height: 18px;margin: 10px 0 25px 15px;">
    <div class="center"> Is your billing address the same as
      <br /> your shipping address?
      <br />
      <br />
      <p>
        <input type="radio" name="billShipSame" id="sameYes" [value]="1" [(ngModel)]="customer.billShipSame" checked>Yes
        <input type="radio" name="billShipSame" id="sameNo" [value]="0" [(ngModel)]="customer.billShipSame"> No </p>
    </div>
  </div>
  <div class="billing hidden" id='kform_hiddenAddress' *ngIf="!customer.billShipSame">
    <div class='kform_spacer'>
      <label>Address:</label>
      <input name='address1' type='TEXT' isRequired> </div>
    <div class='kform_spacer'>
      <label>Address 2:</label>
      <input name='address2' type='TEXT'>
    </div>
    <div class='kform_spacer'>
      <label>Zip Code:</label>
      <input name='postalCode' class="zip-change" type='TEXT' isRequired onkeyup="javascript: this.value = this.value.replace(/[^0-9]/g,'');"
        maxlength="5">
    </div>
    <div class='kform_spacer'>
      <label>City:</label>
      <input name='city' id="fields_city" type='TEXT' isRequired> </div>
    <div class='kform_spacer'>
      <label>State:</label>
      <select required name='state' id="fields_state" [(ngModel)]="customer.state" #sState="ngModel">
          <option selected="selected">Select State</option>
          <option *ngFor="let abbr of statesAbbr" [value]="abbr">{{states[abbr]}}</option>
        </select>
    </div>
    <div class='kform_spacer'>
      <label>Country:</label>
      <select name='country' defaultText='country'>
          <option value="US">United States</option>
        </select>
    </div>
  </div>
  <div>
    <input type="hidden" name='paySource' value="CREDITCARD"> </div>
  <div id="billing-info"> <img width="177" height="53" src="assets/img/cards.png" alt="Visa MasterCard" class="pb10"> </div>
  <div>
    <label>Credit Card #:</label>
    <input name='cardNumber' type='TEXT' placeholder="Card Number" maxlength=16 isRequired onkeyup="javascript: this.value = this.value.replace(/[^0-9]/g,'');">    </div>
  <div>
    <label>Exp. Date:</label>
    <select name='cardMonth' class="cal" style='width: 28%;margin-left: 9px;' isRequired>
            <option value='01'>01 (Jan)</option>
            <option value='02'>02 (Feb)</option>
            <option value='03'>03 (Mar)</option>
            <option value='04'>04 (Apr)</option>
            <option value='05'>05 (May)</option>
            <option value='06'>06 (Jun)</option>
            <option value='07'>07 (Jul)</option>
            <option value='08'>08 (Aug)</option>
            <option value='09'>09 (Sep)</option>
            <option value='10'>10 (Oct)</option>
            <option value='11'>11 (Nov)</option>
            <option value='12'>12 (Dec)</option>
          </select>
    <select name='cardYear' class="cal11" style='width:30%' isRequired>
            <option value='2017'>2017</option>
            <option value='2018'>2018</option>
            <option value='2019'>2019</option>
            <option value='2020'>2020</option>
            <option value='2021'>2021</option>
            <option value='2022'>2022</option>
            <option value='2023'>2023</option>
            <option value='2024'>2024</option>
            <option value='2025'>2025</option>
            <option value='2026'>2026</option>
            <option value='2027'>2027</option>
            <option value='2028'>2028</option>
            <option value='2029'>2029</option>
            <option value='2030'>2030</option>
            <option value='2031'>2031</option>
            <option value='2032'>2032</option>
            <option value='2033'>2033</option>
            <option value='2034'>2034</option>
            <option value='2035'>2035</option>
            <option value='2036'>2036</option>
            <option value='2037'>2037</option>
          </select>
  </div>
  <div id="cvv">
    <label>CVV:</label>
    <input name='cardSecurityCode' placeholder="CVV" type='TEXT' maxlength=4 isRequired onkeyup="javascript: this.value = this.value.replace(/[^0-9]/g,'');"
      style="width: 87px;margin-right: 14px;"> <a href="javascript:void(0);" onClick="javascript:openNewWindow('/assets/html/cvv.html', 'modal');"
      style="margin-right: 20px;">What is this?</a> </div>

  <div *ngIf="addId" class="kform_spacer kform_checkbox" style="display:none;">
    <input name="confirmTOS" type="CHECKBOX" isRequired checked>
    <label for="confirmTOS">
              I agree to the <a href="javascript:void(0);" onClick="javascript:openNewWindow('/assets/html/terms.html', 'modal');">Terms &amp; Conditions</a>
            </label>
  </div>

  <div *ngIf="!affId" class="kform_spacer kform_checkbox" style="margin: 3px 34px 16px 0;display:block;" id="show">
    <input name="confirmTOS" type="CHECKBOX" isRequired>
    <label for="confirmTOS">
              I agree to the <a href="javascript:void(0);" onClick="javascript:openNewWindow('/assets/html/terms.html', 'modal');">Terms &amp; Conditions</a>
            </label>
  </div>

  <div id="form-bottom">
    <div class="form-button">

      <div class="kform_spacer">
        <button type='submit' class='kform_submitBtn btn' id='kformSubmit' style="margin: 15px 8px 15px 0;">COMPLETE CHECKOUT</button>
      </div>
      <div id="lock"></div>
      <div class="kform_spacer" style="    margin-right: 26px;">

        <i class="fa fa-lock" aria-hidden="true"></i> Secure 256 Bit Encrypted Connection
      </div>
      <div class="kform_spacer" style="    margin-right: 15px;">
        <img src="assets/img/cards.jpg">
      </div>
      <input type='hidden' name='orderItems' value=''>
    </div>
  </div>
</form>