<link rel="stylesheet" href="/assets/css/app.css" />
<link href="/assets/css/style2.css" rel="stylesheet" type="text/css" />
<link  type='text/css' href='/assets/css/kprofile.css' rel='stylesheet' />
<link  type='text/css' href='/assets/css/kform.css' rel='stylesheet' />
<link  type='text/css' href='/assets/css/kcart.css' rel='stylesheet' />


<div class="thankyou_body">
  <div class="container_thankyou">
    <div class="thankyou_cont">
      <header class="thankyou_header"> <img class="thankyou_header_left" src="/assets/img/{{global.logo}}" width="200" height="auto" alt="" title="" /> <img
          class="thankyou_header_right" src="/assets/img/header_ship2.png" width="401" height="41" alt="" title="" />
        <div class="clear"></div>
      </header>
      <div class="section1">
        <h1>THANK YOU FOR YOUR PURCHASE</h1>
        <span>We hope you enjoy the benefits of {{global.productName}}</span>
        <p>Your order is scheduled to arrive by <strong>{{date | date:'MMMM dd, yyyy'}}</strong></p>


        <div class="kthanks">
          <div class="kthanks_box">
            <div class="kthanks_boxTitle">
              Items Ordered
            </div>
            <div class="kthanks_boxContent">
              <table class='kthanksItemsTable'>
                <tr class='kthanksItemsTable_TitleRow'>
                  <td>Product</td>
                  <td>Price</td>
                  <td>Qty.</td>
                  <td>Amount</td>
                </tr>
                <tr class='kthanks_row'> <!--ngRepeat -->
                  <td>$item->name</td>
                  <td>$price</td>
                  <td>$item->qty</td>
                  <td>$total</td>
                </tr>
              </table>
              <hr />
              <div style="float:right">
                <div class="kthanks_spacer">
                  <div class="kthanks_label">
                    SubTotal:
                  </div>
                  {{currency.subTotal}}
                </div>
                <div class="kthanks_spacer">
                  <div class="kthanks_label">
                    S &amp; H:
                  </div>
                  {{currency.shipTotal}}
                </div>
                <div class="kthanks_spacer" *ngIf="currency.taxTotal > 0">
                  <div class="kthanks_label">
                    Tax:
                  </div>
                  {{currency.taxTotal}}
                </div>
                <div class="kthanks_spacer" *ngIf="currency.insuranceTotal > 0">
                  <div class="kthanks_label">
                    Insurance:
                  </div>
                  {{currency.insuranceTotal}}
                </div>
                <div class="kthanks_spacer" style="color:green"  *ngIf="currency.discountTotal > 0">
                  <div class="kthanks_label">
                    Discount:
                  </div>
                  {{currency.discountTotal}}
                </div>
                <div class="kthanks_spacer" style="border-top:1px solid #CCC">
                  <div class="kthanks_label">
                    Grand Total:
                  </div>
                  {{currency.orderTotal}}
                </div>
              </div>
              <div style="clear:both"></div>
            </div>
          </div>


          <div>

            <div class="kthanks_box">
              <div class="kthanks_boxTitle">
                Billing Information
              </div>
              <div class="kthanks_boxContent">
                {{customer.billingAddress}}<br />
                {{customer.emailAddress}}<br />
                {{customer.phoneNumber}}<br />
              </div>
            </div>

            <div class="kthanks_box">
              <div class="kthanks_boxTitle">
                Shipping Information
              </div>

              <div class="kthanks_boxContent">
                {{customer.shippingAddress}}
              </div>

            </div>
          </div>
          <div style="clear:both"></div>
          <p>*A confirmation email has been sent to
              {{customer.emailAddress}} </p>
          <p>Magazine Customer Support: (888) 582-5130</p>
        </div>
      </div>

      <p>By submitting, you consent to having read and agreed to our Terms & Conditions and after your
        {{global.totalTrial}} day trial period has expired, being enrolled in our membership program is $
        {{global.trialPrice}} plus shipping per month. You can cancel any time by calling
        {{global.phone}}
        <br>
    </div>
  </div>
  <app-footer-alt></app-footer-alt>
</div>